input[type=text]{
	position:absolute;
	left: 70px;
	width:200px;
	color:red;
	margin-top: 5px;
	border-width: 1px;
	border-color: blue;
	border-style: dotted;
	border-radius: 15px;/* arrondir les angles*/
    -moz-border-radius: 15px; /* compatibilite mozila*/
}

input[type=submit],input[type=reset]{
	background-color: gray;
	font-size: 16px;
	font-variant: small-caps;
	color: blue;
	
}
input[type=file]{
color: transparent;/* pour éviter l'inscription 'No file selected.'*/
}
form{
	font-size: 14px;
	font-weight: bold;
	font-style: oblique;
	color: blue;
	position:relative;
	margin-left: 150px;
}
